<nav class="navbar navbar-fluid navbar-expand-lg navbar-light bg-light">
  {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> --}}
  <div class="row collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav flex-item">

      <li class="nav-item col-3">
        <a class="nav-link" href="#">Cats</a>
      </li>

      <li class="nav-item col-3">
        <a class="nav-link" href="#">Dogs</a>
      </li>

      <li class="nav-item col-3">
        <a class="nav-link" href="#">Other</a>
      </li>

      <li class="nav-item col-3">
        <a href="/profile">Add Pet</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Loop over each object in the projects array -->
{{#each pets as |pet| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <!--{{{get_emoji}}}-->
      <a href="/pet/{{pet.id}}">{{pet.name}}</a>
    </h2>
    {{#if pet.good_with_cats}}
    <p>&#9989; Good with cats!</p>
    {{/if}}
    {{#if pet.good_with_dogs}}
    <p>&#9989; Good with dogs!</p>
    {{/if}}
    {{#if pet.good_with_kids}}
    <p>&#9989; Good with kids!</p>
    {{/if}}
    {{#if pet.adoptable_now}}
    <p>&#9989; Adoptable Now!</p>
    {{/if}}
  </div>
  <div class="col-md-7"> 
    <p>
      This {{pet.animat_type}} is a {{pet.breed}} created by {{pet.user.name}} on {{format_date pet.date_posted}}
    </p>
    <p>
      {{pet.description}}
    </p>
  </div>
  
</div>
{{/each}}
