

<!-- Loop over each object in the projects array -->
{{#each pets as |pet| }}
<div class="row mb-4 project">
  
  <div class="col-md-3">
    <img src="{{pet.imageUrl}}" alt="No picture added" width="200" height="200" class="rounded p-2"/>
  </div>
  <div class="col-md-3">
    <h2>
  
      <a href="/pet/{{pet.id}}">{{pet.name}}</a>
    </h2>
    {{#if pet.good_with_cats}}
    <p>&#9989; Good with cats!</p>
    {{/if}}
    {{#if pet.good_with_dogs}}
    <p>&#9989; Good with dogs!</p>
    {{/if}}
    {{#if pet.good_with_kids}}
    <p>&#9989; Good with kids!</p>
    {{/if}}
    {{#if pet.adoptable_now}}
    <p>&#9989; Adoptable now!</p>
    {{/if}}
  </div>
  <div class="col-md-6"> 
    <p>
      This {{pet.animal_type}} is a {{pet.breed}} created by {{pet.user.name}} on {{format_date pet.date_posted}}
    </p>
    <p>
      {{pet.description}}
    </p>
  </div>
  
</div>
{{/each}}
