<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <!--template card for profile page-->
        <div class="card-deck">
            <!-- Loop over each object in the projects array -->
            {{#each pets as |pet| }}
            <div class="col-md-6 mt-2">
              <div class="card project">
                <img src="{{pet.imageUrl}}" alt="No picture added" max-width="250" height="400" class="card-img-top"/>
                <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
                  <h2 class="card-title"><strong>{{pet.name}}</strong></h2>
                  <p class="card-text">Created by you on {{format_date pet.date_posted}}</p>
                  <div class="link d-flex justify-content-space-around mt-4">
                    <a id="delete-link-profile" href="#" class="card-link text-warning deletebtn" data-id="{{id}}">Delete Post</a>
                    <a id="view-link-profile" href="/pet/{{pet.id}}" class="card-link text-info">View Details</a>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}
        </div>
      </div>
    </div>
    <div class="col-3">
      <div id="profile-head">
        <h1>Welcome, {{name}}!</h1>
      </div>
      <button type="submit" class="btn m-3" style="width:97%"><a class="link" href="/profile/new">Add New Pet</a></button>
    </div>
  </div>
</div>

<script src="/js/add-pet.js"></script>
<script src="/js/profile.js"></script>
