<div class="row">
  <div class="col-auto">
    <h1 style="text-align: center;">Welcome, {{name}}!</h1>
  </div>
</div>


<div class="row m-3">
  <div class="col-md bg-secondary">
    <h2 class="bg-info" style="text-align: center;">Your Pets</h2>
    <button type="submit" class="btn m-3" style="width:100%"><a class="link" href="/profile/new">Add New Pet</a></button>
    
   {{#each pets as |pet| }}
    <div class="row mb-4 project">
      <div class="col-md-5">
        <h2>
          <a href="/pet/{{pet.id}}">{{pet.name}}</a>
        </h2>
        <h4>About Me: {{pet.description}}</h4>
        <p>Created by you on {{format_date pet.date_posted}}</p>
      </div>  
      <div class="col-7 deletediv">
        <button class="deletebtn" data-id='{{id}}'>Delete</button>
        <button class="editbtn">Edit</button>
      </div>    
    </div>
   {{/each}}
  </div>
</div>

<script src="/js/add-pet.js"></script>
<script src="/js/profile.js"></script>
